main {
    margin: 0 24px;
  }
  
  .principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;  

    &__imagem {
      img {
        width: 100%;
        height: 288px;
        border-radius: 16px;
      }
  
      position: relative;
  
      h1 {
        position: absolute;
        z-index: 1;
        color: #d9d9d9;
        font-size: 2.5rem;
        font-family: "ValorantFont";
        width: 401px;
        height: 144px;
        padding-left: 10px;
        padding-top: 20px;

      }
    }
  }

  .galeria {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 17%;
    margin-top: 1rem;
  }

  @media screen and (max-width: 1200px) { 
    .principal {
      display: none;
      justify-content: center;
      height: 100%;
      margin: 0; 

      &__imagem{
        img {
          height: 100%;
        }
      }
    }
    h1 {
      display: none;
    }
    .galeria {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0;
      margin-top: 0;
    }
   }