//Tipografia
$fonte-normal: "Inter";
$fonte-valorant: "ValorantFont";

//Cores
$text-color: #d9d9d9;
$light-red: #ff4454;
$dark-red: #711A30;
$footer-red: #4C1A2B;
$light-gray: #9d9d9d;
$dark-gray: #121214;
$medium-gray: #202024;
$tag-color: rgba(148, 163, 184,0.3);